<section class="gc" id="supportedProviders">
    <div class="vc">
        <h2>{{ strings[page.lang].supportedProviders }}</h2>
    <div class="hc jc" id="providerScroller">
            {% for provider in providers %}
            <img src="/media/providers/{{ provider.id }}.png" alt="{{ provider.name }}" title="{{ provider.name }}" loading="lazy">
            {% endfor %}
            {% for provider in providers %}
            <img src="/media/providers/{{ provider.id }}.png" alt="{{ provider.name }}" title="{{ provider.name }}" loading="lazy">
            {% endfor %}
            {% for provider in providers %}
            <img src="/media/providers/{{ provider.id }}.png" alt="{{ provider.name }}" title="{{ provider.name }}" loading="lazy">
            {% endfor %}
            {% for provider in providers %}
            <img src="/media/providers/{{ provider.id }}.png" alt="{{ provider.name }}" title="{{ provider.name }}" loading="lazy">
            {% endfor %}
        </div>    
    </div>
</section>
