<section class="gc" id="articles">
    <h2>{{ strings[page.lang].recentArticles.section  }}</h2>
    <div class="hc ac jse reflow" id="articleList">
        {%- for article in collections.articles reversed head:2 -%}
        {%- if article.data.lang == page.lang -%}
        <div class="article card vc">
            <a href="/{{ page.lang }}/articles/{{ article.fileSlug | slugify }}">
                <img src="/media/thumbs/{{ article.data.thumbnail }}.png" loading="lazy" alt="{{ article.data.description or article.page.excerpt }}">
                <div class="content">
                    <h3>{{ article.data.title }}</h3>
                    <p>{{ article.data.description }}</p>
                    <p>{{ article.page.excerpt }}</p>
                </div>
            </a>
        </div>
        {%- endif -%}
        {%- endfor -%}
        <div class="article card vc" id="moreArticles">
            <a href="/{{ page.lang }}/articles">
                <img src="/media/logo-arrow.svg" loading="lazy" alt="Move transit app's logo arrow">
                <div class="content">
                    <h3>{{ strings[page.lang].recentArticles.title }}</h3>
                    <p>{{ strings[page.lang].recentArticles.desc }}</p>
                </div>
            </a>
        </div>
    </div>
</section>
