<form method="post" action="{{ formUrl }}/subscription/form" id="signForm">
    <div class="vc ac">
        <h3>{{ strings[page.lang].signUp }}</h3>

        <input type="hidden" name="nonce">

        <input style="display: none !important;" aria-hidden="true" id="550ee" type="checkbox" name="l" checked value="550eecf5-7a08-4c18-8169-de987c92d8b2" />

        <div class="hc">
            <input id="email" type="email" name="email" autocomplete="email"
            placeholder="{{ strings[page.lang].form.placeholder }}" required>
            <button id="submit" type="submit" value="Subscribe ">
                <img src="/media/logo-arrow.svg">
            </button>
        </div>
        <span class="footnote">{{ strings[page.lang].form.note }}</span>

    </div>
</form>
