@media only screen and (width < 950px) {
    :root {
        --margin: 1.8rem;

        --text-hero: 100px;
        --text-large: 42px;
        --text-medium: 32px;
        --text-small: 16px;

        --img-size: 64px;
    }

    .hc.reflow {
        flex-direction: column !important;

        & #unifyComposition,
        #screenshotComposition {
            align-self: auto !important;
        }
    }
}

@media only screen and (width > 768px) {
    :root {
        --margin: 2rem;

        --text-hero: 120px;
        --text-large: 48px;
        --text-medium: 36px;
        --text-small: 18px;

        --img-size: 86px;
    }
}

@media (prefers-reduced-motion) {
    * {
        animation: none !important;
    }
}

:root {
    /* Brand colors */
    --primary-brand: #9678B5;
    --primary-shadow: #6A5580;

    /* Utility colors */
    --background: light-dark(#FEE, #242224);
    --background-container: light-dark(#EDD, #363336);

    --text: light-dark(black, white);
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    scrollbar-width: thin;

    background-color: var(--background);
    color-scheme: light dark;
}

* {
    /* Animation constants */
    transition-timing-function: cubic-bezier(0.68, 2.55, 0.62, 0.65);
    /* Text */
    color: var(--text);
    font-size: var(--text-size);
    font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
}

p:empty {
    display: none;
}

.logo {
    --text-size: var(--text-large);

    font-family: 'Fredoka';
    font-weight: 600;

    user-select: none;
    -webkit-user-select: none;

    transition-property: text-shadow, translate, opacity, font-size, filter;
    transition-timing-function: ease-out;
    transition-delay: 0.1s;
    transition-duration: 0.2s;

    &:hover {
        translate: 0px -3px;
        text-shadow: 0px 5px 0px rgb(from black r g b / 0.25);
    }

    &:active {
        translate: 0;
        text-shadow: 0px 0px 5px rgb(from black r g b / 0.5);
    }
}

.vc,
.hc {
    display: flex;

    gap: calc(var(--margin) / 2);

    & * {
        margin: 0;
        padding: 0;
    }

    &.jc {
        justify-content: center;
    }

    &.jsb {
        justify-content: space-between;
    }

    &.jse {
        justify-content: space-evenly;
    }

    &.ac {
        align-items: center;
    }

    &.ae {
        align-items: end;
    }

    &.fw {
        flex-wrap: wrap;
    }

    &:is(.vc) {
        flex-direction: column;
    }

    &:is(.hc) {
        flex-direction: row;
    }
}

.oh {
    overflow: hidden;
}

.gc {
    display: grid;
    place-items: center;
}

.tc {
    text-align: center;
}

a.accentButton {
    --text-size: var(--text-small);

    font-weight: 400;
    font-family: 'Nunito';
    letter-spacing: 1px;
    text-wrap: nowrap;
    text-decoration: none;

    padding: calc(var(--margin) / 2);
    background-color: var(--primary-shadow);

    border: 1px solid white;
    border-radius: 6rem;
    color: white;

    transition-duration: 0.2s;
    transition-delay: 0.1s;
    transition-timing-function: linear;

    &:hover {
        font-weight: 800;
        letter-spacing: 0.6px;
    }

    &:active {
        padding: calc(var(--margin) / 2.5);
    }
}

section {
    &.fs {
        width: 100vw;
        height: 100vh;
    }
}

img {
    user-select: none;
    -webkit-user-select: none;
}

.card,
blockquote {
    margin: 0;
    padding: calc(var(--margin) / 2) 0;
    background-color: var(--background-container);
    border-radius: 1rem;

    border-top: 1px solid rgb(from white r g b / 0.25);
    border-bottom: 1px solid rgb(from white r g b / 0.1);
}

.banner {
    width: 100%;
    padding: var(--margin) 0;

    background-color: rgb(from var(--primary-shadow) r g b / 0.35);
}

@keyframes rotate {
    from {
        rotate: 0turn;
    }

    to {
        rotate: 1turn;
    }
}

#articleList {
    /* flex-direction: row-reverse; */
    width: 80%;

    & .article {
        padding: 0 !important;
        max-width: 50ch;

        overflow: hidden;

        transition-property: translate, box-shadow;
        transition-delay: 0.1s;
        transition-duration: 0.2s;

        & .content {
            margin: var(--margin);
            margin-top: calc(var(--margin) / 2);
        }

        & img {
            width: 100%;
            aspect-ratio: 16/10;
            object-fit: cover;

            border-radius: 0px 0px 1rem 1rem;
            box-shadow: 0px 0px 15px rgb(from black r g b / 0.25);
        }

        & a {
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
        }

        & h3 {
            --text-size: calc(var(--text-medium) * 0.8);
        }

        & p {
            overflow: hidden;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-clamp: 3;
            -webkit-line-clamp: 3;
            text-overflow: ellipsis;
            opacity: 0.6;
        }

        &:hover {
            translate: 0 -3px;
            box-shadow: 0px 0px 15px rgb(from black r g b / 0.5);
        }
    }
}
