@media only screen and (width < 950px) {
    .card {
        width: calc(100% - var(--margin)) !important;
        gap: 0 !important;
        padding: 0 !important;
        padding-top: calc(var(--margin) / 2) !important;
    }

    #featureContainer {
        --featuresWidth: 30ch !important;
        text-align: center;
    }

    #featureIndicator {
        margin-bottom: 0 !important;
    }

    #supportedProviders {
        & h2 {
            position: relative !important;
            left: calc(var(--margin) / 2) !important;
            translate: unset !important;
            width: 100vw !important;

            &::before,
            &::after {
                translate: 0 82.5%;
                backdrop-filter: blur(5px) saturate(1.5) brightness(0.6) !important;
            }

            &::before {
                left: unset !important;
                right: calc(var(--img-size) * 0.8) !important;
            }

            &::after {
                right: unset !important;
                left: calc(var(--img-size) * -0.75) !important;
            }
        }
    }
}


html[data-scroll='0'] {
    nav {
        background-color: transparent !important;

        &>.hc {
            padding: calc(var(--margin) / 2);
        }

        & .logo {
            opacity: 0 !important;
            --text-size: 0px !important;
            filter: blur(15px);
            pointer-events: none;
        }

        & a:not(:is(.logo)) {
            color: light-dark(black, white) !important;
            text-shadow: 0px 0px 2px rgb(from black r g b / 0.25);
        }
    }
}

nav>.logo {
    opacity: 0;
}

.heroContainer {
    width: 100vw;
    height: 100vh;

    & h1 {
        --text-size: var(--text-hero);
        font-family: 'Fredoka';
        font-size: var(--text-size);
        font-weight: 600;
        letter-spacing: -0.2px;
        text-align: center;
    }

    & p:last-of-type {
        margin-top: var(--margin);
    }
}

p {
    --text-size: var(--text-small);
    font-size: var(--text-size);
}

h2 {
    --text-size: var(--text-medium);
    font-family: 'Nunito' sans-serif;
    font-size: var(--text-size);
}

.blobContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100vw;
    height: 100vh;
    overflow-x: clip;

    &>div {
        filter: blur(30px) opacity(0.25);
    }
}

.blob {
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1;

    &.small {
        width: 30%;
    }

    &.medium {
        width: 40%;
    }

    &.large {
        width: 50%;
    }

    &.top-right {
        top: 0;
        right: 0;
        translate: 50% -50%;
    }

    &.bottom-right {
        bottom: 0;
        right: 0;
        translate: 50% 50%;
    }

    &.top-left {
        top: 0;
        left: 0;
        translate: -50% -50%;
    }

    &.bottom-left {
        bottom: 0;
        left: 0;
        translate: -50% 50%;
    }

    &.light {
        background-color: var(--primary-brand);
    }

    &.dark {
        background-color: var(--primary-shadow);
    }

    &.shape {
        border-radius: 0;

        &>img {
            width: 100% !important;
            animation: rotate 6s linear forwards infinite;
            filter: invert(57%) sepia(37%) saturate(472%) hue-rotate(227deg) brightness(83%) contrast(82%);
        }
    }
}

.logoContainer {
    position: relative;

    filter: blur(var(--blur));

    width: 100%;
    aspect-ratio: 1;

    &>.shape {
        animation: rotate 6s linear forwards infinite;
    }

    &>.arrow {
        filter: drop-shadow(0px 10px rgb(from black r g b / 0.25));
    }

    &>img {
        position: absolute;
        width: 80%;
        aspect-ratio: 1;
    }
}

form {
    --factor: 3rem;

    max-width: 80ch;
    margin: var(--margin) !important;
    text-align: center;

    & p,
    & span {
        align-self: flex-start
    }

    & .hc {
        gap: 0;
    }

    & input#email {
        width: min(60vw, 30ch);
        height: calc(var(--factor) - 4px);
        border: 2px solid var(--primary-brand);
        border-right: none;
        border-radius: calc(var(--margin) / 2) 0 0 calc(var(--margin) / 2);

        padding: 0 calc(var(--margin) / 2);
        margin: 0;
    }

    & button#submit {

        height: var(--factor);

        border: 2px solid var(--primary-brand);
        border-left: none;
        border-radius: 0 calc(var(--margin) / 2) calc(var(--margin) / 2) 0;

        padding: 0;
        margin: 0;
        overflow: hidden;

        background-color: var(--primary-shadow);
        transition-duration: 200ms;

        &:hover {
            background-color: var(--primary-brand);
        }

        &>img {
            width: 48px;
            transform: translateY(-2px);
        }
    }

    & .footnote {
        opacity: .4;
    }
}

.card {
    width: 80%;
    padding: 0 var(--margin);
    gap: calc(var(--margin) * 2);
}

.composition {
    width: 100%;
    max-width: 24rem;
    aspect-ratio: 1;

    position: relative;
    align-self: end;

    & .frame {
        filter: drop-shadow(0px 0px 15px rgb(from black r g b / .6));
    }
}

#screenshotComposition {
    overflow: hidden;

    &>img {
        position: absolute;
        width: 100%;
        height: 100%;
    }

}

#unifyComposition {
    &>img {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        aspect-ratio: 1;

        bottom: 0;
        left: 0;
    }
}

#introduction p {
    width: min(90%, 80ch);
    text-align: center;
}

#features {
    padding: calc(var(--margin) * 2) 0;
    padding-bottom: 0;
}

#featureContainer {
    --featuresWidth: 50ch;
    width: var(--featuresWidth);
    margin: var(--margin);
    margin-bottom: 0;

    &>.featureEntry {
        min-width: var(--featuresWidth);
        max-width: var(--featuresWidth);
    }
}

#featureIndicator {
    --size: 12px;
    padding-top: calc(var(--margin) / 2);
    margin-bottom: var(--margin);

    &>.indicatorDot {
        height: var(--size);
        width: var(--size);

        cursor: pointer;

        border-radius: calc(var(--size) / 2);

        background-color: white;
        opacity: 0.8;
        transition-duration: 0.4s;
        box-shadow: 0px 3px rgb(from black r g b / 0.25);

        &.active {
            opacity: 1;
            width: calc(var(--size) * 2);
        }
    }
}

#supportedProviders {
    --scrollTo: -50%;
    padding: var(--margin);
    overflow: hidden;
    width: calc(100vw - var(--margin) * 2);

    & h2 {
        position: absolute;
        left: 50%;
        translate: -50% 0;
        z-index: 9;

        text-wrap: nowrap;
        padding: calc(var(--img-size) / 1.5 - var(--text-size)) calc(var(--margin) / 2);

        background-color: var(--background);
        border-radius: 14px;

        &::before {
            --angle: 90deg;
            left: calc((var(--img-size) - 16px) * -1);
        }

        &::after {
            --angle: 270deg;
            right: calc((var(--img-size) - 16px) * -1);
        }

        &::before,
        &::after {
            content: '';

            position: absolute;
            z-index: -2;

            top: -25%;

            width: var(--img-size);
            height: calc(var(--img-size) * 1.5);

            backdrop-filter: blur(5px) saturate(1.5);
            mask: linear-gradient(calc(var(--angle) * -1), #0000 0%, #000 10%, #0000 100%);
        }
    }

    & #providerScroller {
        animation: scroll 6s linear infinite forwards;

        &:hover {
            animation-play-state: paused;
        }
    }

    & img {
        height: var(--img-size);
        aspect-ratio: 1;
        border-radius: calc(var(--img-size) / 4);

        background-color: white;
    }
}

@keyframes scroll {
    from {
        translate: -25% 0;
    }

    to {
        translate: -50% 0;
    }
}

#articles {
    padding: var(--margin) 0;
    padding-top: 0;

    & #articleList {
        width: 80%;
    }

    & #moreArticles {
        & img {
            background: linear-gradient(135deg, var(--primary-brand), var(--primary-shadow));
        }
    }
}

#banner {
    height: 100%;
    object-fit: cover;
    scale: 1.1;
    z-index: -3;
    opacity: 0.25;
    filter: blur(10px) saturate(0.5);
}
